body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(232, 127, 127);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
    display: block;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-links .btn {
    padding: 10px 15px;
    background-color: #0c0704;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.social-links .btn:hover {
    background-color: #0056b3;
}

nav {
    background: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    padding: 10px 15px;
    background: #df6c6c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.footer-social .btn {
    padding: 10px 15px;
    background: #080707;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;}

.footer-social .btn:hover {
    background-color: #e5e9ee;
}